@use '../mixins/spacing'
@use '../mixins/container'
@use '../mixins/layout'
@use '../mixins/type'

.home__hero
  +container.default
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding-bottom: spacing.level(6)

.home__hero__title
  +type.display-1

.home__hero__subhead
  +type.subtitle-2

.home__hero__buttons
  +spacing.top(2)
  display: flex
  flex-wrap: wrap
  gap: spacing.level(2)

.home__hero__buttons__button
  +type.button

.home__features
  +container.default

.home__scroll
  +container.default
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: spacing.level(4)

.home__scroll__illustration
  width: 100%
  max-width: 600px

.home__scroll__illustration__circle
  transform: scale(0) translateY(40px)
  transform-origin: center

.home__scroll__illustration[data-in-view="true"] .home__scroll__illustration__circle
  transform: scale(1) translateY(0)
  transition: all 0.5s var(--ease-in-out-cubic) var(--delay)

.home__scroll__content__body
  opacity: 0
  transform: translateY(50px)
  &[data-in-view="true"]
    opacity: 1
    transform: translateY(0)
    transition: transform 0.5s var(--ease-out-cubic), opacity 0.7s linear
    transition-delay: 0.5s

.home__dropdown
  +container.small

.home__dropdown__title
  text-align: center

.home__dropdown__items
  +spacing.top(2)
  +layout.flow(spacing.level(1))

.home__dropdown__items__item__body
  +spacing.top(0.5)
