@use '../mixins/spacing'
@use '../mixins/container'
@use '../mixins/layout'
@use '../mixins/type'
@use '../mixins/breakpoint'
@use '../mixins/util'

.home__hero
  position: relative
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding-bottom: spacing.level(6)

.home__hero__canvas
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: -1
  pointer-events: none

.home__hero__inner
  +container.default

.home__hero__inner__title
  +type.display-1

.home__hero__inner__subhead
  +type.subtitle-2

.home__hero__inner__buttons
  +spacing.top(2)
  display: flex
  flex-wrap: wrap
  gap: spacing.level(2)

.home__hero__inner__buttons__button
  +type.button

.home__features
  +container.default

// Scroll
.home__scroll
  +container.default
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: spacing.level(4)

.home__scroll__illustration
  width: 100%
  max-width: 600px

.home__scroll__illustration__circle
  transform: scale(0) translateY(40px)
  transform-origin: center

.home__scroll__illustration[data-in-view="true"] .home__scroll__illustration__circle
  transform: scale(1) translateY(0)
  transition: all 0.5s var(--ease-in-out-cubic) var(--delay)

.home__scroll__content__body
  opacity: 0
  transform: translateY(50px)
  &[data-in-view="true"]
    opacity: 1
    transform: translateY(0)
    transition: transform 0.5s var(--ease-out-cubic), opacity 0.7s linear
    transition-delay: 0.5s

// Dropdown
.home__dropdown
  +container.small

.home__dropdown__title
  text-align: center

.home__dropdown__items
  +spacing.top(2)
  +layout.flow(spacing.level(1))

.home__dropdown__items__item__body
  +spacing.top(0.5)

// Gallery
.home__gallery
  +container.small

.home__gallery__items
  display: flex
  width: 100%
  overflow-x: scroll 
  scroll-behavior: smooth
  scroll-snap-type: x mandatory
  &::-webkit-scrollbar 
    display: none

.home__gallery__items__item
  flex: 0 0 100%
  scroll-snap-align: start
  scroll-snap-stop: normal

.home__gallery__items__item__figure__image
  height: 500px
  width: 100%
  object-fit: cover

.home__gallery__nav
  +spacing.top(3)
  display: flex
  gap: spacing.level(1)

.home__gallery__nav__button
  border: 2px solid var(--color-dark-yellow)
  background: transparent
  height: 20px 
  width: 20px
  padding: 0
  border-radius: 50%
  &:hover,
  &[data-current="true"]
    background: var(--color-dark-yellow)

.home__gallery__nav__button span
  +util.visually-hidden
