@use './spacing'

=heading-sm
  font-size: 20px
  line-height: 24px

=body-md
  font-size: 18px
  font-weight: 300
  line-height: 1.5

=link
  display: block
  text-decoration: none
  color: var(--color-black)
  &:hover
    color: var(--color-pink)

=cta-text
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 0.1em

=button
  width: fit-content
  padding: spacing.level(1) spacing.level(2)
  background: var(--color-yellow)
  border: 2px solid var(--color-black)
  border-radius: spacing.level(1)
  font-weight: 600
  font-size: 20px
  transition: transform 0.2s var(--ease-in-out-quad)
  &:hover
    transform: rotate(10deg) scale(1.05)

=button-reset
  padding: 0
  margin: 0
  border: 0
  background: transparent
