.cards {
	display: block;
	padding: 20vh 0;
}

.cards__inner {
	display: flex;

	.cards__card {
		padding: 40px;
		border: 1px solid red;
		margin: 30px;
	}

	&.reverse {
		flex-direction: row-reverse;

		.cards__card {
			padding: 60px 20px;
		}
	}
}
