.cards {
  display: block;

  h2 {
    font-size: 50px;
  }

  .cards__inner {
    &.reverse {
      display: flex;
      .cards__card {
        position: relative;
        padding: 60px 40px;
      }
    }
  }

  .cards__card {
    padding: 40px;
    border: 1px solid red;
    margin: 30px;
  }
}
